.filter-comment{
    background-color: #fff;
    .filter{
        height: 44px;
        padding-left: 24px;
        border-top: 1px solid #eff0f5;
        border-bottom: 1px solid #eff0f5;
        .title{
            display: inline-block;
            height: 44px;
            line-height: 44px;
            font-size: 14px;
            color: #212121;
        }
        .oper{
            display: inline-block;
            //padding-left: 0px;
            height: 44px;
            line-height: 44px;
            border-left: 1px solid #eff0f5;
            font-size: 13px;
            color: #757575;
            cursor: pointer;
            .oper-icon{
                position: relative;
                top: 2px;
                font-size: 20px;
                margin-top: -5px;
                i{
                    font-size: medium;
                }
            }
            .oper-text{
                color: #212121;
                //margin-left: 5px;
            }
        }
    }
}