.wrap-papper{
    width: 100%;
    padding-bottom: 40px;
    background-color:  #eff0f5 ;
    p{
        margin-left: 15%;
        font-size: 22px;
        color: #424242;
        font-weight: 400;
    }
 
    .content-papper{
        padding: 40px;
        margin: 0 auto;
        background-color: #fff;
        display: flex;
        h3{
            font-size: 14px;

        }
        label{
            font-size: 12px;
            
        }
        .custom-placeholder{
        font-size: 0.875rem;
        
        }
        input::placeholder {
            color: #999;
        }
        input{
            height: 50px;
        }
        .custom-text{
            font-size: 14px;
          margin-left: 0;
        }
        .eye-close :hover{
            cursor: pointer;
            
        }
        .eye-close{
            position: relative;
            left: 300px;
            font-size: 20px;
            top: -37px;
            color:#999;
        }
        .eye-open{
            position: relative;
            left: 300px;
            font-size: 22px;
            top: -37px;
            color:#999;
            display: none;
        }
        .eye-open:hover{
            cursor: pointer;
        }
       .custom-send{
        width: 150px;
        background-color: #f57224 ;
        border: none;
       }
    }
    
    
}